backend/.env
backend/node_modules
backend/uploads/*.jpeg
backend/uploads/*.jpg
backend/uploads/*.png
backend/uploads/*.gif

frontend/.env
frontend/node_modules
frontend/build
frontend/*.log

mobile/env.json
mobile/node_modules
mobile/.expo
mobile/*.log
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build
mobile/web-report